[submodule "AngelScript"]
	path = Libs/AngelScript
	url = https://github.com/codecat/angelscript-mirror.git
	branch = master
[submodule "json"]
	path = Libs/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "SFML"]
	path = Libs/SFML
	url = https://github.com/SFML/SFML.git
	branch = master
